/* --------------------------    theme.css override    -------------------------------- */


#superfish 
{
	background: none; 
	width: 100%; 
	height: 26px;
}

#superfish h2 
{
  height: 0;
  overflow: hidden;
  position: absolute;
}


#superfish .menu 
{
  float: right;
  margin: 0;
}

#superfish .menu a 
{
  padding: 6px 12px 8px;
  text-decoration:none;
}

#superfish .menu a, 
#superfish .menu a:visited  
{ 
  color: #FFF;
}

#superfish .menu li 
{
  background: none;
  font-size:20px;
  letter-spacing: -0.05em;
  line-height: 0.5;
}

#superfish .menu li li 
{
  background: none;
  font-size: 14px;
  color: #dedddd;
  line-height: 0.5;
  
}

#superfish .menu li:hover, 
#superfish .menu li.sfHover,
#superfish .menu a:focus, 
#superfish .menu a:hover, 
#superfish .menu a:active,
#superfish .menu a.active 
{
  background: none;
  outline: 0;
  color: #d7b353;
}

#superfish .menu li li:hover, 
#superfish .menu li li.sfHover,
#superfish .menu li li a:focus, 
#superfish .menu li li a:hover, 
#superfish .menu li li a:active,
#superfish .menu li li a.active 
{
  background: #d7b353;
  outline: 0;
  color: #27251e;
  
}


/* --------------------------- superfish.css override ---------------------------------- */


/* $Id: superfish.css,v 1.1 2008/08/25 03:27:31 jmburnz Exp $ */
/* Superfish base CSS. 
   Superfish is an enhanced Suckerfish-style menu jQuery plugin
   http://users.tpg.com.au/j_birch/plugins/superfish/ */
#superfish .menu, #superfish .menu * 
{
	margin:			0;
	padding:		0;
	list-style:		none;
}


#superfish .menu 
{
	line-height:	1.0;
}


#superfish .menu ul 
{
	position:		absolute;
	top:			0px;
	width:			250px; /* left offset of submenus need to match (see below) */
}


#superfish .menu ul li 
{
	width:			100%;
}


#superfish .menu li:hover 
{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}


#superfish .menu li 
{
	float:			none;
	position:		relative;
}


#superfish .menu a 
{
	display:		block;
	position:		relative;
}


#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul
{
	left:			150px;
	top:			-20px; /* match top ul list item height */
	z-index:		99;
}


#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul 
{
	top:			-999em;
}


#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul 
{
	left:			290px; /* match ul width */
	top:			-20px;
}


#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul
{
	top:			0px;
}


#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul
{
	left:			290px; /* match ul width */
	top:			-20px;
}


/* arrows */
#superfish .menu a.sf-with-ul 
{
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}


.sf-sub-indicator
{
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			.75em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}


a > .sf-sub-indicator 
{  /* give all except IE6 the correct values */
	top:			.6em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}


/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator 
{
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}


/* point right for anchors in subs */
#superfish .menu ul .sf-sub-indicator { background-position:  -10px 0; }
#superfish .menu ul a > .sf-sub-indicator { background-position:  0 0; }


/* apply hovers to modern browsers */
#superfish .menu ul a:focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator,
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator 
{
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}


/* --------------------------------------- my stuff --------------------------------- */


#superfish .menu li
{
	text-align: right;	
}

#superfish .menu li li
{
	text-align: left;	
	
	
}

#superfish span
{
	display: none;	
}

#superfish .menu li ul
{
	background: #27251e;
	
	font-size:14px;
	text-transform:none;
	
	padding-top: 20px;
	padding-bottom: 20px;
	
	-moz-border-radius-topleft: 10px; 
	-moz-border-radius-topright: 10px; 

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	-moz-border-radius-bottomleft: 10px; 
	-moz-border-radius-bottomright: 10px; 

	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;

padding-left: 5px;
padding-right: 5px;
}


#superfish .menu li li
{
	line-height: 0.5;	
	letter-spacing: 0.05em;
	
}

