/* $Id: update_advanced.css,v 1.1 2007/07/11 16:07:00 dww Exp $ */

.update-advanced-settings .form-select {
  width: 12em;
}

.update-advanced-settings tr.update-advanced-settings-label td.update-advanced-settings-label {
  font-size: 70%;
  font-weight: bold;
  background: #ddd;
  color: #666;
  padding: 0 0 0 2em; /* LTR */
}
